.imageCard {
	text-align: center;
}

.borderCircle {
	border-radius: 9999px;
}

.logoContainer {
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.lightText {
	color: #1B7895;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.serviceCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer {
	background-color: #1BA39C;
	color: white;
	padding: 2rem;
	margin-top: 6rem;
	text-align: center;
}